<%- include("partials/header"); -%>

    <div class="ui container" style="margin-top: 80px">
            <div class="ui segment inverted">
                <div class="ui small centered active loader"></div>
                <p style="text-align: center;" class="ui text"><strong>Realtime syncing... </strong>updated every 10 mins </p>
            </div>
        <table class="ui unstackable celled table">
            <thead>
                <tr><h3>COUNTRY STATS</h3><p>Across West African Region</p></tr>
                <tr>
                    <td><strong>COUNTRY</strong></td>
                    <th>TOTAL CASES</th>
                    <th>NEW CASES</th>
                    <th>TOTAL DEATHS</th>
                    <th>TOTAL RECOVERED</th>
                    <th>ACTIVE CASES</th>
                </tr>
            </thead>
            <tbody >
                <% for( var i = 0; i < countries.length; i++){%>
                    <tr>
                        <td data-label="COUNTRY"><strong><%= countries[i]["country_name"]%></strong></td>
                        <td  data-label="TOTAL CASES"><%= countries[i]["cases"] %></td>
                        <td data-label="NEW CASES"><%= countries[i]["new_cases"] %></td>
                        <td data-label="TOTAL DEATHS"><%= countries[i]["deaths"] %></td>
                        <td data-label="TOTAL RECOVERED"><%= countries[i]["total_recovered"] %></td>
                        <td data-label="ACTIVE CASES"><%= countries[i]["active_cases"] %></td>
                      </tr>
               <% } %>
            </tbody>
          </table>
        <table class="ui unstackable celled table">
            <thead>
                <tr></tr><h2>Other Countries</h2></tr>
                <tr>
                    <td><strong>COUNTRY</strong></td>
                    <th>TOTAL CASES</th>
                    <th>NEW CASES</th>
                    <th>TOTAL DEATHS</th>
                    <th>TOTAL RECOVERED</th>
                    <th>ACTIVE CASES</th>
                </tr>
            </thead>
            <tbody >
                <% for( var i = 0; i < others.length; i++){%>
                    <tr>
                        <td data-label="COUNTRY"><strong><%= others[i]["country_name"]%></strong></td>
                        <td  data-label="TOTAL CASES"><%= others[i]["cases"] %></td>
                        <td data-label="NEW CASES"><%= others[i]["new_cases"] %></td>
                        <td data-label="TOTAL DEATHS"><%= others[i]["deaths"] %></td>
                        <td data-label="TOTAL RECOVERED"><%= others[i]["total_recovered"] %></td>
                        <td data-label="ACTIVE CASES"><%= others[i]["active_cases"] %></td>
                      </tr>
               <% } %>
            </tbody>
          </table>
    </div>
    <style>
        table{
            font-size: .5em;
        }
        body{
            background-color: black;
            color: #fff
        }
        td, th, tr{
            background-color: black;
            color: #fff;
            border: 0.5px solid #fff
        }
        .ui.table thead th{
            padding: 5px;
            color: #fff;
            background-color: #1b1c1d;
        }
        .ui.loader{
            position: unset;
            display: flex;
        }
        @media(max-width: 550px){
            th, h5{
                font-size: .6em;
                padding: 0;
            }
            td{
                font-size: .8em;
            }
            .ui.table td{
                padding: 1px;
            }
        }
    </style>
<%- include("partials/footer"); -%>